doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nombreSitio} | #{pagina}
        link(href='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.5.4/flowbite.min.css' rel='stylesheet')
        
        link(rel="stylesheet", href="/css/app.css")
        

    body
        include aside
        block contenido

        script(src='https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.5.4/flowbite.min.js')
